table{ 
    width:70% ;
    margin-left: auto;
    margin-right: auto;

}
#header {
    border: 1px solid black;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    font-family: Verdana;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.6);

}   
   


#home{
  text-align: left;
  font-style: italic;
  font-size: 20px;
  font-family: Verdana;
  font-weight: lighter;
}

#center {
  border: 2px dashed rgb(10, 80, 21);
  text-align: center;
  font-style: italic;
  font-size: 30px;
  font-family: Verdana;
  font-weight: bold;
  color: rgba(228, 11, 3, 0.6);
  background-color: rgba(174, 252, 155, 0.6);   
 
}
#gallery{
    border: 1px solid black;
    text-align: center;
    height: 180px;
    font-size: 15px;
    font-family: Verdana;
    font-weight: normal;
    background-color: rgba(166, 235, 126, 0.6);

}

#visit {
    
    font-size: 20px;
    font-family: Verdana;
    font-weight: normal;

}

#tab1 {
  background-color: rgba(255, 0, 0, 0.1);
  font-size: 15px;
  font-family: Verdana;
  font-weight: normal;
}
#head1 {
    background-color: rgba(255, 0, 0, 0.3);
    font-size: 30px;
  font-family: Verdana;
  font-weight: normal;
}
#head2 {
    
    font-size: 20px;
  font-family: Verdana;
  font-weight: bold;
}


#contact {
     border: 3px solid black;
    color: rgba(228, 11, 3, 0.6);
     font-size: 25px;
     text-align: center;
     
}

p.center {
    
  font-size: 15px;
  font-family: Verdana;
  font-weight: normal;
}

